{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
{% endblock %}

{% block body %}

    <h1>
        Blog posts
    </h1>

    <div class="row">
        <div class="col-xs-12">
            <div class="btn btn-default pull-right" data-toggle="modal" data-target="#new-post-modal">New Post</div>
        </div>
    </div>
    <br />

    <table class="table table-striped">
    {% for post in posts %}
        <tr>
            <td>
                <a href="{{ path('post-view', {'id': post.id}) }}">{{ post.title }}</a>
            </td>
            <td>
                {{ post.body|length > 50 ? post.body|slice(0, 50) ~ '...' : post.body  }}
            </td>
            <td>
                {{ post.createdAt|date("Y-m-d H:i") }}
            </td>
            <td>
                <form method="POST" action="{{ path('post-delete', {'id': post.id}) }}">
                    <input type="submit" class="btn btn-danger btn-sm pull-right" value="Delete" />
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>

    <div class="modal fade" id="new-post-modal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">New Post</h4>
                </div>
                {{ form_start(form) }}
                <div class="modal-body">
                    {{ form_row(form.title) }}
                    {{ form_row(form.body) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}