{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}

    <h1>
        {{ post.title }}
    </h1>

    <div class="row">
        <div class="col-xs-6">
            <a class="btn btn-default"  href="{{ path('posts-index') }}">Back</a>
        </div>
        <div class="col-xs-6">
            <div class="btn btn-default pull-right" data-toggle="modal" data-target="#edit-post-modal">Edit Post</div>
        </div>
    </div>
    <br />

    {{ post.body|nl2br }}

    <div class="modal fade" id="edit-post-modal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Post</h4>
                </div>
                {{ form_start(form) }}
                <div class="modal-body">
                    {{ form_row(form.title) }}
                    {{ form_row(form.body) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}